<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.SuaGiaDienActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FormBangGiaActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QLTrangThaiActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CTDienkeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TinhTiendienActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TaoHoadonActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ThemDienkeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CTKhachhangActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ThemKhachhangActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QLHoadonActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QLDienkeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QLGiadienActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QLKhachhangActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DangkiActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DangnhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>